@import "tailwindcss";

@theme {
    --color-primary: #4F46E5;
    --color-primary-100: #4338CA;
    --color-primary-50: #EEF2FF;

    --color-secondary: #0D9488;
    --color-secondary-100: #0F766E;
    --color-secondary-50: #F0FDFA;

    --color-success-100: #059669;
    --color-success-50: #ECFDF5;

    --color-warning-100: #D97706;
    --color-warning-50: #FFFBEB;

    --color-danger: #E11D48;
    --color-danger: #FFF1F2;

    --color-ink: #0F172A;
    --color-muted: #475569;
    --color-subtle: #94A3B8;
    --color-surface: #F1F5F9;
}

@components {    
    .card {
        @apply bg-white rounded-2xl p-6 border border-gray-200;
    }

    .sidebar-link {
        @apply flex items-center gap-3 px-4 py-2.5 rounded-xl text-sm font-medium text-primary hover:bg-primary/10 hover:text-primary transition-all duration-150;
    }

    .sidebar-link.active {
        @apply bg-primary text-white shadow-sm;
    }

    .modal-overlay {
        @apply fixed w-full h-screen bg-black/40 backdrop-blur-sm z-50 flex items-center justify-center p-4
    }

    .modal-box {
        @apply bg-white rounded-3xl shadow-2xl w-full max-w-lg max-h-[90vh] overflow-y-auto p-8;
    }

    .btn-primary {
    @apply inline-flex items-center gap-2 px-4 py-2 bg-primary/40 text-white text-sm font-semibold rounded-xl hover:bg-primary active:scale-95 transition-all duration-150 shadow-sm;
  }

  .btn-secondary {
    @apply inline-flex items-center gap-2 px-4 py-2 bg-white text-primary text-sm font-semibold rounded-xl border border-primary/40 hover:bg-primary/40 active:scale-95 transition-all duration-150;
  }

  .btn-danger {
    @apply inline-flex items-center gap-2 px-4 py-2 bg-red-500 text-white text-sm font-semibold rounded-xl hover:bg-red-600 active:scale-95 transition-all duration-150;
  }
}